#emils{background-color: rgb(59, 206, 157);}
#emag{background-color: rgb(206, 78, 3);}
#tnt{background-color: rgb(22, 41, 214);}
#u{background-color:rgb(0, 255, 234) ;}
#b{background: linear-gradient(rgb(97, 243, 58) 39%,blueviolet 61%);}
#ñ{background: linear-gradient(rgb(2, 77, 178) 39%,rgb(29, 172, 229) 61%);}
#netras{background: linear-gradient(rgb(167, 30, 6) 39%,rgb(177, 226, 73) 61%);}